<article>
    <div class="form-appointment">

    <h1>Prendre rendez-vous</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-dark">{{ button_label|default('Envoyer') }}</button>
    {{ form_end(form) }}
    </div>
</article>